.carousel-div{
    width:100px;
    height: 210px;
    background-color: green;
    border-radius: 15px;
    margin-top: 17px;
    padding: 0%;
    text-align: center;
}
.carousel-div button{
    box-sizing: border-box;
    min-width: 2.5rem !important;
    max-width: 2.5rem !important;
    height: 2.5rem;
    border-radius:50%;
    padding: 5px auto 25px auto ;
    font-size: 19px;
    text-align: center;
    background-color: white;
    color:blue;
    margin: 0% -10% 0% -10%;
    z-index: 1;
}

.carousel-div button:hover{
    background-color: white !important;
    color: blue !important
}
.carousel-div button:active{
    background-color: white !important;
    color: blue;
}
.carousel-div button:focus{
    background-color: white !important;
    color: blue;
}