@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

.results_main {
    border: 0px solid red;
}

.no_of_results {
    display: flex;
}

.no_of_results:nth-child(1) {
    font-family: 'Arimo', sans-serif;
    font-size: 14.5px;
    color: #141823;
}

.no_of_results:nth-child(1) span {
    font-family: 'Arimo', sans-serif;
    font-size: 14.5px;
    font-weight: 700;
}

.next_day {
    font-family: 'Arimo', sans-serif;
    font-size: 12.5px;
    color: #2276E5;
    margin-top: 3px;
    margin-left: 710px;
}

.sort_main {
    display: grid;
    grid-template-columns: 15.8% 14.28% 14.28% 16.5% 15.8% 14.5% 14.28%;
    padding: 15px 20px 15px 20px;
    height: 48.4px;
    box-sizing: border-box;
    width: 100%;
    border: 0px solid red;
    background-color: #FFFFFF;
    border-radius: 0.2em;
    margin-top: 5px;
    margin-bottom: 20px;
}

.sort_by {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: #141823;
    border: 0px solid black;
}

.sort_empty {
    color: #141823;
    /* font-family: 'Yantramanav', sans-serif; */
    font-family: 'Arimo', sans-serif;
    font-size: 10.5px;
    font-weight: 700;
    text-align: left;
    margin-top: 6px;
    border: 0px solid black;
    cursor: pointer;
}

.sort {
    color: #141823;
    /* font-family: 'Yantramanav', sans-serif; */
    font-family: 'Arimo', sans-serif;
    font-size: 10.5px;
    font-weight: 700;
    color: #2276E5;
    text-align: left;
    border: 0px solid black;
    cursor: pointer;
    margin-top: 2px;
}

.sort span {
    font-size: 14px;
    font-weight: 900;
}

