
.logo{
    width: 104px;
    height: 34px;
    background: url(https://gos3.ibcdn.com/giHappyheaderSprite-1618386531.png) 
    no-repeat;
    background-size: 125px 200px;
    display: block;
    flex-shrink: 0;
    box-sizing: border-box;
    z-index: 900;
    
}
.logo2{
  width: 10%;
  margin-right: 35px;
  z-index: 900;
}
.maindiv{
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    display: flex!important;
    align-items: center;
    padding: 12px 50px!important;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    z-index: 900;
    position: absolute;
}